<div class="uk-container uk-margin-top uk-margin-bottom">
    <div class="uk-grid article">
        <div class="uk-width-1-1 uk-width-1-2@s">
            <div class="uk-position-relative uk-visible-toggle" tabindex="-1" uk-slideshow="ratio: 4:3">
                <ul class="uk-slideshow-items uk-light">
                {% for image in page.media.images|slice(0,4) %}
                    <li>
                        <img data-src="{{image.url}}" width="" height="" alt="page.header.image.alt" title="{{page.header.image.title}}" uk-img>
                    </li>
                  {% endfor %}
                  </ul>
                  <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
                  <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
                  <ul class="uk-slideshow-nav uk-dotnav uk-flex-center uk-margin uk-dark"></ul>
             </div>
        </div>
        <div class="uk-width-1-2@s">
            <h2 class="uk-text-center uk-text-left@s">
                <a href="{{page.url}}">{{ page.title }}</a>
            </h2>
            {# Displays on mobile #}
            <hr class="uk-hidden@s">
           {{ page.summary }}
           {% if page.summary < page.content %}
                <a class="uk-button uk-button-default uk-button-small uk-align-center" href="{{ page.url }}">More information on {{page.title}}</a>
            {% endif %}
        </div>
    </div>
</div>
