<div class="uk-container uk-margin-top uk-margin-bottom">
{% if page.header.iframe %}
    <div class="iframe-container">{{ page.header.iframe }}</div>
    <h2 class="uk-text-center uk-text-left@s">
        {{ page.title }}
    </h2>
    {{ page.summary }}
    {% if page.summary < page.content %}
         <a href="{{ page.url }}">More information on {{page.title}}...</a>
     {% endif %}
{% else %}
<div class="uk-grid article">
    <div class="uk-width-1-2 uk-visible@s">
        <div class="uk-position-relative uk-visible-toggle" tabindex="-1" uk-slideshow>
            <ul class="uk-slideshow-items uk-light">
            {% for image in page.media.images|slice(0,4) %}
                <li>
                  {{ image.html(page.header.image.title, page.header.image.alt) }}
                </li>
              {% endfor %}
              </ul>
              <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
              <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
              <ul class="uk-slideshow-nav uk-dotnav uk-flex-center uk-margin uk-dark"></ul>
         </div>
    </div>
    <div class="uk-width-1-2@s">
        <h2 class="uk-text-center uk-text-left@s">
            {{ page.title }}
        </h2>
        <hr class="uk-hidden@s">
        <div class="uk-hidden@s">
            <div class="uk-position-relative uk-visible-toggle uk-dark" tabindex="-1" uk-slideshow>
                <ul class="uk-slideshow-items">
                    {% for image in page.media.images|slice(0,4) %}
                        <li style="text-align:center;">
                            {{ image.html(page.header.image.title, page.header.image.alt) }}
                        </li>
                    {% endfor %}
                </ul>
                <a class="uk-position-center-left uk-position-small" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
                <a class="uk-position-center-right uk-position-small" href="#" uk-slidenav-next uk-slideshow-item="next"></a>

            </div>
        </div>
       {{ page.summary }}
       {% if page.summary < page.content %}
            <a href="{{ page.url }}">More information on {{page.title}}...</a>
        {% endif %}
    </div>
</div>
{% endif %}
</div>
