<div class="uk-container uk-margin-top uk-margin-bottom">
{% if page.header.iframe %}
    <div class="iframe-container">{{ page.header.iframe }}</div>
    <h2 class="uk-text-center uk-text-left@m">
        {{ page.title }}
    </h2>
    {{ page.summary }}
    {% if page.summary < page.content %}
         <a href="{{ page.url }}">READ MORE</a>
     {% endif %}
{% else %}
<div class="uk-grid article">
    <div class="uk-width-1-2 uk-visible@m">
    <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slideshow>

        <ul class="uk-slideshow-items">
        {% for image in page.media.images %}
            <li>
              {{ image.html(page.header.image.title, page.header.image.alt) }}
            </li>
          {% endfor %}
          </ul>

          <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
          <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>

      </div>

    </div>
    <div class="uk-width-1-2@m uk-width-1-1@m">
        <h2 class="uk-text-center uk-text-left@m">
            {{ page.title }}
        </h2>
        <hr class="uk-hidden@m">
        <div class="mobile-image uk-hidden@m">
            {% for image in page.media.images %}
                {{ image.cropZoom(250,250).html(page.header.image.title, page.header.image.alt) }}
            {% endfor %}
        </div>
       {{ page.summary }}
       {% if page.summary < page.content %}
            <a href="{{ page.url }}">More information</a>
        {% endif %}
    </div>
</div>
{% endif %}
</div>
