<footer class="uk-padding">
    <div class="uk-text-center uk-text-lead uk-margin-medium-bottom" style="color:inherit">
        Discover why we're Indiana's best family vacation destination.
    </div>
    <div class="uk-text-center uk-flex column" uk-grid>
        <div class="uk-text-center uk-width-expand">
            Lake Lemon Guest Houses
            <small>8920 Southshore Drive, Unionville, IN 47468</small>
        </div>
        <div class="uk-text-lead uk-width-auto last">
            <a href="{{site.facebook}}" uk-icon="icon: facebook" class="uk-icon-button"></a>
        </div>
        <div class="uk-text-center uk-width-expand">
            <a href="mailto:{{site.email}}">
                <span uk-icon="icon: mail"></span> {{site.email}}
            </a>
            <div>
                <a href="tel:{{site.phone}}">
                    <span uk-icon="icon: phone"></span> {{site.phone}}
                </a>
            </div>
        </div>
    </div>
</footer>
